<div id='company-form'>
  <%= simple_form_for form, url: form.persisted? ? company_path(form.company) : companies_path do |f| %>
    <div class="row">
      <div class="col-md-4 company-details">
        <h3>Company Details</h3>
        <%= f.input :name %>
        <%= f.input :employee_count %>
      </div>
    </div>

    <div class="row">
      <div class="col-md-12">
        <h3>Offices</h3>
        <% form.office_rows.each_with_index do |office_row, idx| %>
          <%#= render 'office_row', f: f, office_row: office_row, idx: office_row.persisted? ? office_row.id : idx %>
          <%= render 'office_row', f: f, office_row: office_row, idx: idx %>
        <% end %>
      </div>
    </div>

    <div class="row">
      <%= button_tag "Add Another Office", type: 'button', class: 'btn', id: 'add-office-row' %>
      <%= f.submit "Save", class: "btn btn-primary", data: { :disable_with => "Saving..." } %>
    </div>
  <% end %>
</div>