<div class="office-row-fieldset form-inline" id="office-<%= idx %>">
  <legend><h5>Office Details</h5></legend>
  <fieldset>
    <%= f.simple_fields_for "office_rows[#{idx}]", office_row do |office_fields| %>

      <% if office_row.persisted? %>
        <%= office_fields.hidden_field :id, value: office_row.id %>
        <%= office_fields.hidden_field :remove, value: false, class: 'removal-field' %>
      <% end %>

      <%= office_fields.input :name %>
      <%= office_fields.input :city %>
      <%= office_fields.input :state %>
      <%= office_fields.input :employee_count %>

    <% end %>

    <div class="remove" style="display: inline;">
      <%= link_to "Remove", '#', class: 'remove-office-row' %>
    </div>

    <div class="remove-confirm" style="display: none;">
      Are you sure?
      <%= link_to "Yes", '#', class: ['remove-office-row', 'yes'] %> / 
      <%= link_to "No", '#', class: ['remove-office-row', 'no'] %>
    </div>

  </fieldset>
</div>